* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* width: 1366px; */
    width: auto;
    height: auto;
    
    /* max-width: 1366px; */
   /* max-width:1330px; */
    
    
}

a {
    text-decoration: none;
}

@media (max-width: 1500px) {
    body {
        width: 1349px;
        /* width: fit-content; */
    }
}

.header {
    background: #131A22;
    height: 60px;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    color: white;
    justify-content: space-between;
}

.alogo img {
    margin-top: -33px;
    margin-left: -14px;
    padding-left: 6px;
    width: 150px;
}

.dti {
    display: flex;
    margin-top: 15px;
    margin-left: -85px;
}

.delt {
    color: #cccccc;
}

.p1 {
    margin-bottom: -3px;
    font-weight: 80;
    font-size: 12px;
    
}

.span2 {
    font-size: 14px;
    font-weight: 600;
}

.loc_logo {
    margin-top: 8.99px;
    padding-right: 3.8px;
}

.searchbar {
    width:fit-content;
    margin-left: -63px;
    height: 40px;
    margin-top: 9.9px;
    display: flex;
}

.acc, .ret, .cart {
    margin-top: 15px;
    margin-left: -40px;
}

.opt {
    padding-top: 3px;
    padding-left: 5px;
    border: none;
    width: 53px;
    height: 40px;
    border-radius: 3px 0 0 3px;
    background-color: #eeecec;
    color: #777777;
}

#search {
    height: 40px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
}

.search_icon {
    height: 40px;
    width: fit-content;
    width: 45px;
    border-radius: 0px 3px 3px 0px;
    background-color: #FEBD69;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_icon {
    color: #131A22;
}

.searchbar:hover {
    box-shadow: 0 0 20px 0px rgba(6, 6, 6, 1);
}

.search:hover {
    border : 2px solid #FEBD69;
    margin-top: -1.8px;
    height: 39px;
    border-radius: 3px;
    padding-bottom: 1px;
}

.opt:hover {
    background-color: #d7d6d6;
}

.search_icon:hover {
    background-color: #fcaa3e;
}

.lang {
    margin-left: -60px;
    display: flex;
    margin-top: 24.5px;
}

#af {
    width: 21px;
    height: 16px;
}

.sel_lang {
    font-weight: bolder;
    border: none;
    color: white;
    background-color: #131A22;
}

.cart {
    display: flex;
    /* margin-right: 25px; */
    padding-right: 25px;
    margin-top: 28px;
}

.cart p {
    margin-top: -4px;
    margin-left: 2px;
    font-weight: bold;
}

.acc {
    margin-left: -60px;
}

.ret {
    margin-left: -px;
}

@media (max-width: 700px) {

    .header{
        height: 100px;
        width:1300px;
        background-color: #131A22;
    }

    .p1 {
        margin-bottom: 1.5px;
        font-size: 15px;
    }

    .span2 {
        font-size: 19px;
    }
    .alogo img {
        margin-top: 9px;
        margin-left: -6px;
        width: 100px;
    }

    .loc_logo {
        margin-top: 29px;
        margin-left: 80px;
    }

    .dt {
        margin-top: 20px;
        width: 80px;
    }

    #search {
        font-size: 18px;
        height: 60px;
        width:480px;
    }

    .opt {
        padding-left: 13px;
        width: 62px;
        height: 60px;
    }

    .search_icon {
        width: 61px;
        height: 60px;
    }

    .searchbar { 
        margin-top: 20px;
        margin-left: -10px;
    }

    .af {
        margin-top: 2.8px;
    }

    .sel_lang {
        font-size: 19px;
    }

    .lang {
        margin-top: 48px;
        margin-left: 20px;
    }

    .sel_lang {
        font-weight: bolder;
        border: none;
        color: white;
        background-color: #131A22;
    }

    .acc {
        margin-top: 30px;
        margin-left: 20px;
    }

    .ret {
        margin-top: 30px;
        margin-left: 20px;
    }

    .cart {
        margin-top: 54px;
        margin-left: 10px;
    }

}

/* /* ---------------------------NAVBAR 2--------------------------------------- */


.navbarb {
    display: flex;
    background-color: #232F3E;
    height: 39px;
    color: white;
    align-items: center;
    font-size: 14px;
    font-weight: 540;
    
}

.all2 {
    margin-left: 16px;
}

.baricon {
    margin-right: 3px;
}

.all2, .txt {
    display: flex;
    align-items: center;
    height: 39px;
    margin-top: -3px;
    margin-right: 16px;
}

.all2 {
    display: flex;
}

.alltxt {
    font-weight: 550;
}

#electxt {
    height: 28px;
    display: flex;
    align-items: center;
    margin-top: -4px;
    font-weight: bolder;
    margin-left: 685px;
}

.txt:hover, .all2:hover, #electxt:hover {
    border: 1px solid white;
    border-radius: 2px;
}

@media(max-width: 700px) {

    .navbarb {
        background-color: #232F3E;
        width: 1300px;
    }

    .electxt {
        margin-left: -67px;
        padding-right: 20px;
    }
}

/* ----------MENU---------- */

.menu {
    top: 100px;
    left: -400px;
    position: absolute;
    z-index: 9;
    margin-top: -99px;
    background: rgb(255, 255, 255);
    width: 27%;
    /* width: 365px; */
    height: max-content;
    transition: 1s;
    box-shadow: 0 0 30px  rgba(6, 6, 6, 1);
}

.title {
    font-size: 19px;
    font-weight: 600;
    height: 50px;
    background: #232F3E;
    display: flex;
    color: white;
}

.divider {
    height:0.1px;
    background-color: #6363634f;
}

.menu .title p {
    font-size: 20px;
    color: white;
    margin-left: -30px;
    margin-top: 3px;
}

.menu .title i {
    margin-top: 23px;
    margin-left: 35px;
}

.menu_contnt {
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 15px;
}

h4 {
    font-size: 17px;
    margin-bottom: 10px;
}

.menu p {
    margin-top: 1px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 00px;
    margin-left: -40px;
    height: 35px;
    color: rgb(52, 52, 52);
    /* margin-top: 25px; */
    font-size:14px;
    transition: 0.1s;
   
}

.menu_contnt p:hover {
    background-color:#f2f2f2
}

@media (max-width : 700px) {
    .menu {
        width: 255px;
    }
}

/* ---------------BG---------------------- */

.bg0 {
    display: flex;
}

.bg1, .bg2 {
    height: 500px;
    width: 803px;
    /* width: 100vw; */
}

.bg1 {
    background-image: url("div1.png");
    background-size: cover;
}

.bg2 {
    background-image: url("div2.png");
    background-size: cover;
}

.text {
    margin-top: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text p {
    font-size: 14px;
    background-color: white;
    padding: 11px 226px;
}

.text a {
    color: #007185;
}

@media (max-width : 700px) {
    .bg0 {
        width:1300px;
    }

    .bg1, .bg2 {
        width: 650px;
        background-size: cover;
    }
/* 
    .text {
       display: flex;
       justify-content: center; 
        width: 853px; 
         width: 300%;
    }

    .text p{
      padding: 8px 300px;
    } */

    .text {
        width: max-content;
    }

    .text p {
        padding: 5px 196px;
        margin-left: 27px;
    }

}
/* ---------------images--------------- */

.img {
    width: 1347px;
    position: absolute;
    margin-top: 30px;
    z-index: 3;    
    height:500px;
    background-color: #cccccc;
}

.imgs {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 300px;
    height: 410px;
    background-color: #ffffff;
}

.image {
    margin-top: 15px;
    margin-left: 17px;
    display: flex;
    height: 290px;
    width: 265px;
    background-color: #007185;
}

.imgs h3 {
    font-size: 21px;
    margin-left: 17px;
    padding-top: 25px;
}


.imgs p {
    margin-top: 18px;
    font-size: 13px;
    margin-left: 17px;   
}

.toysi {
    background-image: url("toys.jpg");
    background-size: cover;
}

.hpi {
    background-image: url("hp.jpg");
    background-size: cover;
}

.eleci {
    background-image: url("elec.jpg");
    background-size: cover;
}

.hai {
    background-image: url("ha2.jpg");
    background-size: cover;
}

@media (max-width: 700px) {
    .img {
        width: 1297px;
    }
}